<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../ico/favicon.png">

    <title>Rody vCard</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/main.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../js/html5shiv.js"></script>
      <script src="../js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    <div class="container">
    	<div class="col-lg-6 col-lg-offset-3">
    	
    		<!-- ===== vCard Navigation ===== -->
    		<div class="row w">
    			<div class="col-md-4">
    				<img class="img-responsive" src="../img/Rody.jpg" alt="">
					<ul class="nav nav-tabs nav-stacked" id="myTab">
					  <li class="active"><a href="#about">About</a></li>
					  <li><a href="#profile">Profile</a></li>
					  <li><a href="#portfolio">Portfolio</a></li>
					  <!--<li><a href="#contact">Contact</a></li> --> <!-- rody close-->
					</ul>    			
				</div><!-- col-md-4 -->

    		<!-- ===== vCard Content ===== -->
    			<div class="col-md-8">
	    			<div class="tab-content">
	    			
	    			  <!-- ===== First Tab ===== -->
					  <div class="tab-pane active" id="about">
					  	<h3>Rody</h3>
					  	<h5>Programming Engineer</h5>
					  	<hr>
							Hi~</br>
							&emsp;我是一位程式設計工程師，這是我第一個Blog。歡迎各位參觀。<br/> 
							&emsp;主要內容會是我正在學習的程式結果。<br>
							&emsp;常用語言：Python、C(工作-嵌入式)、Matlab(研究所)<br/>
							<br/>
							<br/>
							<br/>
							<br/>
							<i class="icon-envelope"></i> - chaneay@hotmail.com  
					  	<p class="pull-right red"><i class="icon-heart"></i></p>
					  </div><!-- tab about -->
					  
	    			  <!-- ===== Second Tab ===== -->
					  <div class="tab-pane" id="profile">
					  	<h4><i class="icon-briefcase"></i> Job Experience</h4>
					  	<p class="sm">
					  		<grey>ENE(迅杰科技)</grey> | November 2016 - Actual.<br/>
					  		<grey>Arma(華冠通訊)</grey> | June 2015 - Octobar 2016.<br/>
					  	</p>
					  
						  <h4><i class="icon-file-text-alt"></i> Education</h4>
					  	<p class="sm">
					  		<grey>Physics institute</grey> | National Sun Yat-sen University.<br/>
					  		<grey>Physics</grey> | Chinese Culture University.<br/>
					  	</p>
					  	
						  <h4><i class="icon-trophy"></i> Research</h4>
					  	<p class="sm">
								<a href="https://ndltd.ncl.edu.tw/cgi-bin/gs32/gsweb.cgi/ccd=LQGrJP/record?r1=1&h1=0">
									1) Constructing a Wigner-like distribution function of phase space with Harr wavelet<br/>
								</a>
									<a href="https://github.com/PowerFire/WearableInfantCareSystem">
									2) 穿戴式嬰幼照護系統
								</a>
								
								<br/>
					  	</p>
					  </div><!-- Tab Profile -->
					  
	    			  <!-- ===== Third Tab ===== -->
					  <div class="tab-pane" id="portfolio">
						  <div class="row">
							  <div class="col-xs-6 centered">
							  	<img class="img-responsive" src="../img/p01.png" alt="">
							  	<a href="#"><h6><i class="icon-link"></i> E-commerce</h6></a>
							  </div><!-- col-xs-6 -->
							  <div class="col-xs-6 centered">
							  	<img class="img-responsive" src="../img/p02.png" alt="">
							  	<a href="#"><h6><i class="icon-link"></i> Machine Learning</h6></a>
							  </div><!-- col-xs-6 -->
						  </div><!-- row -->
						  
						  <div class="row">
						  	<br>	
							  <div class="col-xs-6 centered">
							  	<img class="img-responsive" src="../img/p03.png" alt="">
							  	<a href="#"><h6><i class="icon-link"></i> Stock </h6></a>
							  </div><!-- col-xs-6 -->
							  <div class="col-xs-6 centered">
							  	<img class="img-responsive" src="../img/p04.png" alt="">
							  	<a href="#"><h6><i class="icon-link"></i> Reinforcement Learning </h6></a>
							  </div><!-- col-xs-6 -->
						  </div><!-- row -->
					  </div><!-- /Tab Portfolio -->
					  
							<!-- ===== Fourth Tab ===== -->
					  <div class="tab-pane" id="contact">
						  <h4>Contact Information</h4>
						  <hr>
						  <div class="row">
							  <div class="col-xs-6">
								  <p class="sm">
								  	<i class="icon-globe"></i> - BlackTie.co <br/>
									<i class="icon-envelope"></i> - victoria@blacktie.co  
								  </p>
							  </div><!-- col-xs-6 -->
							  
							  <div class="col-xs-6">
								  <p class="sm">
								  	<i class="icon-phone"></i> - +44 2009-4839 <br/>
									<i class="icon-apple"></i> - 902 3940-4439  
								  </p>
							  </div><!-- col-xs-6 -->
						  </div><!-- row -->
						  
						  <h4>Social Links</h4>
						  <hr>
						  <div class="row">
							  <div class="col-xs-6">
								  <p class="sm">
								  	<i class="icon-facebook"></i> - Vicky.Wallberg <br/>
									<i class="icon-tumblr"></i> - Love-Vicky-Site  
								  </p>
							  </div><!-- col-xs-6 -->
							  
							  <div class="col-xs-6">
								  <p class="sm">
								  	<i class="icon-dribbble"></i> - Vicoooria <br/>
									<i class="icon-twitter"></i> - @BlackTie_co  
								  </p>
							  </div><!-- col-xs-6 -->
						  </div><!-- row -->
					  </div><!-- Tab Contact -->
					  
					</div><!-- Tab Content -->
    			</div><!-- col-md-8 -->
    		</div><!-- row w -->
    	</div><!-- col-lg-6 -->
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
	<script>
	$('#myTab a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})	
	</script>    
    
  </body>
</html>
